@import './base.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.material-design-icon.icon-white {
  color: white;
}

.material-design-icon.icon-white > .material-design-icon__svg {
  color: white;
}
